@import '_reset.scss';
@import '_vars.scss';
@import '_fonts.scss';
@import '_mixins.scss';
@import '_media.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Circe', sans-serif;
}

// .fade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100wh;
//     height: 100vh;
//     z-index: 100;
//     background: rgba(119, 119, 119, 0.8);
//     mix-blend-mode: multiply;
// }

.container {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: absolute;
    z-index: 2;
        .d-fl {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__logo {
                margin-top: 20px;
            }
            .header__menu {
                &-list {
                    display: flex;
                    justify-content: space-between;
                    gap: 50px;
                    &-item {
                        a {
                            font-weight: 400;
                            font-size: 20px;
                            text-decoration: none;
                            color: $fourth-color;
                            opacity: 0.5;
                            transition: 0.25s;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .header__social {
                &-list {
                    display: flex;
                    position: relative;
                    gap: 15px;
                    &-item {
                        display: block;
                        position: relative;
                        text-align: center;
                        background-color: $third-color;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        transition: 0.25s all;
                        &:hover {
                            background: $second-color;
                        }
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .header__contact {
                text-align: right;
                &-phone {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 24px;
                    margin-top: 0;
                    line-height: 100%;
                    color: $third-color;
                    transition: 0.25s all;
                    &:hover {
                        color: $second-color;
                    }
                }
                &-address {
                    font-weight: 400;
                    font-size: 16px;
                    color: $fourth-color;
                    opacity: 0.5;
                }
            }
            .header__burger {
                display: none;
                position: relative;
                &-line {
                    position: absolute;
                    width: 40px;
                    height: 4px;
                    border-radius: 4px;
                    background: $third-color;
                    transition: all 0.4s;
                    &:nth-child(1) {
                        top: -12px;
                        right: 0;
                    }
                    &:nth-child(2) {
                        top: 0px;
                        right: 0;
                    }
                    &:nth-child(3) {
                        top: 12px;
                        right: 0;
                    }
                }
                &:active {
                    .header__burger-line {
                        &:nth-child(1) {
                            top: 0px;
                            transform: rotateZ(45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            top: 0px;
                            transform: rotateZ(-45deg);
                        }
                    }
                }
            }
        }
}

.promo {
    max-height: 100vh;
    overflow: hidden;
    background: $first-color;
    .swiper {
        width: 100%;
        height: 100%;
    }
    &-bg {
        background: url('../img/promo-background.png');
        background-size: cover;
        background-position: center;
        min-height: 940px;
    }
    .container {
        padding-top: 340px;
        .content {
            width: 465px;
        }
    }
    &__heading-1 {
        font-weight: 800;
        font-size: 42px;
        line-height: 120%;
        color: $third-color;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        opacity: 0.5;
        margin-top: 10px;
        line-height: 140%;
    }
    &__btn {
        @include button;
    }
}

.services {
    background: url('../img/main-bg.png');
    &__heading-2 {
        font-weight: 800;
        font-size: 42px;
        margin-top: 55px;
        color: $third-color;
    }
    &__service {
        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
            padding: 50px 0;
            &-item {
                margin: 0 auto;
                cursor: pointer;
                width: 270px;
                &-info {
                    padding: 0 15px;
                    &-heading {
                        text-align: left;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 150%;
                        color: $fourth-color;
                    }
                    &-price {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-weight: 800;
                            font-size: 24px;
                            line-height: 150%;
                            color: $fourth-color;
                        }
                    }
                }
                &-img {
                    position: relative;
                    margin-bottom: 14px;
                    width: 270px;
                    height: 270px;
                    background: $first-color;
                    border-radius: 25px;
                    position: relative;
                    overflow: hidden;
                    transition: all linear .3s;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 318px;
                        height: 318px;
                        top: 40%;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 50%;
                        z-index: 1;
                        background: $sixth-color;
                        transition: all linear .4s;
                    }
                    &-dog1 {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 3;
                    }
                    &-dog2 {
                        display: none;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 2;
                        transition: all linear .4s;
                        filter: blur(8px);
                    }
                    &-ellipse {
                        position: absolute;
                        top: -2px;
                        right: -2px;
                        transition: all linear .4s;
                    }
                }
            }
            &-item:hover {
                .services__service-list-item-img {
                    background: $third-color;
                    &-dog2 {
                        display: block;
                    }
                    &-ellipse {
                        fill: $second-color;
                        stroke: $second-color;
                    }
                    &::before {
                        width: 374px;
                        height: 374px;
                        top: 54px;
                        background: radial-gradient(94.25% 94.25% at 50% 5.75%, #C3A78E 0%, rgba(195, 167, 142, 0) 100%);
                    }
                }
            }
        }
    }
    &__price {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            &-item {
                width: 370px;
                height: 370px;
                border-radius: 25px;
                border: 4px dashed $first-color;
                padding: 0 35px 62px;
                color: $fourth-color;
                position: relative;
                transition: all ease-in-out 0.2s;
                &-image {
                    position: absolute;
                    top: 30px;
                    left: 35px;
                }
                &-heading {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 130%;
                    margin-top: 178px;
                }
                &-descr {
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
                &-link {
                    position: absolute;
                    right: 24px;
                    bottom: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: $first-color;
                    transition: all ease-in-out 0.2s;
                }
                &:hover {
                    background-color: $seventh-color;
                    border: 4px solid $seventh-color;
                    .services {
                        &__price {
                            &-list {
                                &-item {
                                    &-link {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__discount {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
        &-stock-card {
            padding: 30px 38px;
            width: 570px;
            height: 300px;
            border-radius: 25px;
            background: url('../img/discount-bg1.png');
            position: relative;
            &-image {
                position: absolute;
                right: 0;
                bottom: -35px;
            }
        }
        &-bonus-card {
            padding: 30px 38px;
            width: 570px;
            height: 300px;
            border-radius: 25px;
            background: url('../img/discount-bg2.png');
            position: relative;
            &-image {
                position: absolute;
                right: 0;
                bottom: -35px;
            }
        }
        &-heading {
            font-weight: 400;
            font-size: 20px;
            color: $first-color;
            opacity: 0.75;
            line-height: 20px;
        }
        &-descr {
            margin-top: 11px;
            font-weight: 800;
            font-size: 42px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
}